body, h1, div, p {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

#pipe-mania {
  display: grid;
  grid-template-columns: 1fr 720px 1fr;
  grid-template-rows: 70px 500px 1fr;
}

h1 {
  font-family: "Indie Flower";
  font-size: 36px;
  grid-area: 1 / 2;
  text-align: center;
  padding: 15px;
}

button {
  border: 1px solid gray;
}

.images img {
  position: absolute;
  top: 0;
  opacity: 0;
}

canvas {
  grid-area: 2 / 2;
  /*position: relative;*/
  margin-left: 100px;
}

.hidden {
  opacity: 0;
  z-index: -10;
}

#instructions {
  grid-area: 2 / 2;
  /*position: absolute;*/
  width: 100%;
  z-index: 15;
  background-color: white;
  /*opacity: 1;*/
}

#instructions p {
  text-align: center;
}

.start-goal {
  display: grid;
  grid-template-rows: 20px 100px;
  grid-template-columns: 100px 100px;
  grid-column-gap: 1em;
  justify-content: center;
}

#start {
  margin: auto;
}

#content {
  grid-area: 2 / 2;
  width: 100px;
  z-index: 10;
  justify-self: right;
}

#content div {
  text-align: center;
}

#score {
  white-space: nowrap;
}

button {
  margin: 5px;
}

#quick-finish {
  margin-top: 360px;
}

#result {
  grid-area: 2 / 2;
  margin-top: 100px;
  width: 300px;
  height: 200px;
  background-color: white;
  justify-self: center;
  z-index: 10;
}

#level-result{
  text-align: center;
}

#next {
  margin: 100px 120px;
}

#timerProgress {
  grid-area: 3 / 2;
  justify-self: center;
  width: 80%;
  background-color: grey;
}

#timerBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
