h1 {
  text-align: center;
}

img {
  position: absolute;
  top: 0;
  opacity: 0;
}

canvas {
  /*margin: 50px 25%;*/
}

.hidden {
  opacity: 0;
}

.instructions img {
  opacity: 1;
}

#start {
  position: absolute;
  left: 50%;
  margin: auto;
}

#timerProgress {
  width: 50%;
  background-color: grey;
}

#timerBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
